.app-rutas{
      display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    margin-top: 2rem;
}

.ruta-detalle-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  width: 75%;
}

.ruta-detalle-header h2 {
  margin: 0;
}

.ruta-table {
  width: 75%;
  border-collapse: collapse;
}

.ruta-table th, .ruta-table td {
  padding: 10px;
  border: 1px solid #dcdcdc;
  text-align: left;
}

.footer-buttons {
  margin-top: 4rem;
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.cancel-btn, .save-btn, .add-btn, .back-btn {
  padding: 10px 25px;
  border-radius: 6px;
  border: 2px solid #01C4B3;
  font-weight: bold;
  color: #01C4B3;
}

.save-btn {
  background-color: var(--turquesa);
  color: white;
  border-color: var(--turquesa);
}
.usuarios-add {
  background-color: var(--turquesa);
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
}

.usuarios-add:hover {
  background-color: #00a497;
}