/* You can add global styles to this file, and also import other style files */
:root {
  --turquesa: #01C4B3;
  --gris: #E9EBF0;
  --azul: #001E6B;
}
/*html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
*/

.confirm-dialog-panel .mat-mdc-dialog-container {
  padding: 0;
  border-radius: 22px;
  overflow: visible;
}

.confirm-dialog-panel .mdc-dialog__surface {
  border-radius: 22px;
  overflow: visible;
}